
.h3portfolio{
  /* font-family: Work Sans; */
  /* font-size: 12px; */
  font-weight: 500;
  line-height: 24px;
  /* color: #333; */
  padding-top: 10px;
}
.btn-secondary{
  background-color:#d66b22 ;
  border:none;
  le
}
.btn-outline-secondary{
 border: 1px solid #d66b22;
}
.d-flex{
  gap: 20px;
}